/bin/
/build/
/CPackConfig.cmake
/CPackSourceConfig.cmake
/ImportExecutables.cmake
/compile_commands.json
/help/de.xml
/help/help/
/help/help_de/
/lib/
/po/GrandOrgue.pot.src_lst
/resources/GrandOrgue.desktop
/resources/GrandOrgue.1
/share/
/src/build/imageconverter
/src/core/GrandOrgueDef.h/
/src/images/*.cpp

/ide-projects/NetBeans12/nbproject/private/

*.a
CMakeCache.txt
CMakeFiles/
Makefile
/_CPack_Packages/

.DS_Store
