/bin/
/CPackConfig.cmake
/CPackSourceConfig.cmake
/ImportExecutables.cmake
/compile_commands.json
/help/de.xml
/help/help/
/help/help_de/
/lib/
/nbproject/private/
/po/GrandOrgue.pot.src_lst
/resources/GrandOrgue.desktop
/resources/GrandOrgue.1
/share/
/src/build/imageconverter
/src/core/GrandOrgueDef.h/
/src/images/*.cpp

*.a
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile


