[submodule "submodules/RtAudio"]
	path = submodules/RtAudio
	url = https://github.com/GrandOrgue/RtAudio.git
	branch = bugfix/6.0.1-asio
[submodule "submodules/RtMidi"]
	path = submodules/RtMidi
	url = https://github.com/thestk/rtmidi
	branch = 4.0.0
[submodule "submodules/PortAudio"]
	path = submodules/PortAudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "submodules/ZitaConvolver"]
	path = submodules/ZitaConvolver
	url = https://github.com/GrandOrgue/ZitaConvolver.git
[submodule "submodules/wxMaterialDesignArtProvider"]
	path = submodules/wxMaterialDesignArtProvider
	url = https://github.com/perazz/wxMaterialDesignArtProvider
