[Desktop Entry]
Version=1.0
Name=GrandOrgue
GenericName=Pipe organ simulator
Comment=GrandOrgue - virtual pipe organ sample player
Exec=GrandOrgue %f
Icon=GrandOrgue
Terminal=false
Type=Application
Categories=Audio;AudioVideo;Music;
MimeType=application/x-grandorgue-odf;
