[Desktop Entry]
Version=1.0
Name=GrandOrgue
Comment=GrandOrgue - virtual pipe organ sample player
Exec=GrandOrgue %f
Icon=GrandOrgue.png
Terminal=false
Type=Application
Categories=Audio;AudioVideo;Music;
MimeType=application/x-grandorgue-odf
