#include <windows.h>
#include "go_defs.h"

#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
// This file will be copied to ${RESOURCEDIR} where GOIcon.ico will be generated
101                     ICON                    "GOIcon.ico"

1                       RT_MANIFEST             "GrandOrgue.manifest"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION           APP_WIN_VERSION
 PRODUCTVERSION        APP_WIN_VERSION
 FILEFLAGSMASK         VS_FF_DEBUG
#ifndef NDEBUG
 FILEFLAGS             VS_FF_DEBUG
#else
 FILEFLAGS             0L
#endif
 FILEOS                VOS_NT_WINDOWS32
 FILETYPE              VFT_APP
 FILESUBTYPE           0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",        "Our Organ"
            VALUE "FileDescription",    "Virtual Pipe Organ Software"
            VALUE "InternalName",       "GrandOrgue"
            VALUE "LegalCopyright",     "GPL v2+"
            VALUE "OriginalFilename",   "GrandOrgue.exe"
            VALUE "ProductName",        "GrandOrgue"
#ifdef NDEBUG
            VALUE "FileVersion",        APP_VERSION
#else
            VALUE "FileVersion",        APP_VERSION " (Debug Version)"
#endif
            VALUE "ProductVersion",     APP_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
