Source: grandorgue
Section: sound
Priority: optional
Maintainer: Martin Koegler <martin.koegler@chello.at>
Build-Depends: debhelper (>= 7), cdbs, cmake, gettext, po4a, libjack-jackd2-dev, libasound2-dev, libwxgtk3.0-dev, docbook-xsl, xsltproc, zip, devscripts, libudev-dev, libfftw3-dev, pkg-config, libwavpack-dev, libz-dev
Standards-Version: 3.9.8
Homepage: https://sourceforge.net/p/ourorgan/wiki/Home/
Vcs-Browser: https://sourceforge.net/p/ourorgan/svn/
Vcs-Svn: svn://svn.code.sf.net/p/ourorgan/svn/trunk
Vcs-Git: https://github.com/e9925248/grandorgue.git

Package: grandorgue
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, grandorgue-resources
Recommends: grandorgue-demo
Description: Virtual Pipe Organ Software
 GrandOrgue is a virtual pipe organ sample player application supporting
 a HW1 compatible file format.

Package: grandorgue-resources
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks: grandorgue (<< 0.3.1.2162)
Replaces: grandorgue (<< 0.3.1.2162)
Description: GrandOrgue resource files
 This package contains the various resource files for GrandOrgue.

Package: grandorgue-demo
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GrandOrgue demo sampleset
 This package contains the demo sampleset for GrandOrgue


